/* HOME PAGE - NOT LOGGED */
body {
    font-family: "Inter", sans-serif;
    background: url('assets/Background.jpg') center/cover fixed;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    color: white; 
    background-color: #2c3e50;
}

nav .logo {
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

nav a:hover {
    color: #ddd;
}


header {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 80px auto 30px auto; 
    max-width: 700px;
    color: #777;
}

header h3 {
    font-size: 25px;
    color: #555;
    margin: 8px;
}

header em {
    display: block;
    margin: 10px;
    font-style: normal;
    color: #8a8a8a;
    font-size: 14px;
}

header em a {
    color: #21b9ff;
    text-decoration: none;
    font-weight: bold;
}


section {
    text-align: center;
    padding-bottom: 50px;
}

section h2 {
    display: inline-block;
    padding: 10px 0;
    margin: 40px 0 30px 0;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    -webkit-text-stroke: 2px black;
}

section h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 1100px; 
    height: 3px;
    background-color: #007bff;
}

section .container {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.posts {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px; 
    height: 500px;
    overflow: hidden;
    text-align: center;
}

.posts img {
    width: 85%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
}

.posts h3 {
    font-size: 20px;
    margin: 15px;
    padding: 0 15px;
    color: #333;
    text-align: left;
}

.posts p {
    display: flex;
    background-color: #007bff;
    color: white;
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 35px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.posts a {
    background-color: #007bff; 
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 15px 15px 15px; 
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.posts a:hover {
    background-color: #0056b3;
}

#creator{
    text-align: left;
    padding-left: 30px;
}


.browse a {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block; 
    margin: 50px; 
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s;

}

section .browse a:hover {
    background-color: #1e7e34;

}


footer {
    text-align: center;
    padding: 15px;
    font-size: 12px;
    color: white; 
    background: #2c3e50; 
    width: 100%;
    position: fixed;
    bottom: 0;
}

.posts > * {
    line-height: 1.5;
    margin-top: 0;
}


/* LOGIN */

#login-form {
    display: flex;
    flex-direction: column;
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    margin: 80px auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

#login-form p1 {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
}

#login-form h2 {
    margin-bottom: 5px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

#login-form div {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

#login-form .checkbox-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 10px 0;
}

#login-button {
    width: 95%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
}

#login-button:hover {
    background: #218838;
}


#login-form p {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}


#login-form a {
    color: rgb(59, 180, 255);
    text-decoration: none;
}


/* REGISTRATION */

#register-form {
    display: flex;
    flex-direction: column;
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    margin: 80px auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

#register-form p1 {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
}

#register-form h2 {
    margin-bottom: 5px;
}

#register-form input[type="text"],
#register-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

#register-form div {
    text-align: left;
    font-weight: bold;
    margin: 5px;
}

#register-form .checkbox-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 10px 0;
}

#register-button {
    width: 95%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
}

#register-button:hover {
    background: #218838;
}


#register-form p {
    font-size: 14px;
    margin: 15px;
    text-align: center;
}

#register-form a {
    color: rgb(59, 180, 255);
    text-decoration: none;
}

.error.msg{
    color:red; 
    margin-bottom:10px; 
    font-weight:bold;
}

.success.msg{
    color:green; 
    margin-bottom:10px; 
    font-weight:bold;
}

/* BROWSER */

.filter-form {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    padding: 10px 20px;
}

.filter-form input[type="text"] {
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 14px;
    width: 230px;
}

.filter-form select {
    width: 230px;
    padding: 10px 20px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 14px;
    background: white;
    cursor: pointer;
}

.filter-form button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-form button:hover {
    background: #0056b3;
}


#manage a{
    background-color: #ffa600; 
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 15px 15px 15px; 
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#manage a:hover {
    background-color: #dc8f00;
}

